<!DOCTYPE html>

<html ng-app="topPos">
<head>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>AngularJSMVC</title>
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/basecss")

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/ng")
    @Scripts.Render("~/Scripts/thirdparty")
    <script type="text/javascript" src="@Url.Action("NgDynamic", "Home")"></script>
    @Scripts.Render("~/Scripts/ngcustom")
    @Scripts.Render("~/Scripts/jqueryui")
    @Scripts.Render("~/Scripts/jqueryval")
</head>
<body>
    <div id="main-blocks" ng-controller="mainCtrl">
        <div id="main-body">
            <div id="main-menu" ng-show="block.mainMenu" ng-controller="mainMenu">
                <div class="menu">
                    <ul>
                        <li class='node'>
                            <h2>Angularjs MVC</h2>
                            <ul>
                                <li><h2><a href='#/CustomDirectiveDemo'>CustomDirectiveDemo</a></h2></li>
                                <li><h2><a href='#/FormValidation'>FormValidation</a></h2></li>
                              </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="main-content" ng-class="mainContentWidth()">
                <div id="main-content-view" ng-view class="content">@RenderBody()</div>
            </div>
        </div>
    </div>
</body>
</html>
