@*
    功能：取得Server端的相關資料並以js方式設定至Client端的模組
    1. 由Server端取得路徑，才能正確取得網站在虛擬目錄下的相關路徑
    2. 驗證錯誤訊息可彈性由Server端的設定檔取得
*@

@*<script type="text/javascript">*@
    angular.module("NgDynamic", [])
    .constant("autoCompleteCount", 5)
    .constant("defaultPageCount", 50)
    .constant("baseUrl", "@Url.Content("/")")
    .constant("contentUrl", "@Url.Content("/Content/")")
    .value("countdownArgs", {
        logoutUrl: "@Url.Action("Logout", "Login")",
        keepAliveUrl: "@Url.Action("KeepAlive", "Login")",
        sessionTimeout: @Session.Timeout,
        timeoutCountdown: @System.Web.Configuration.WebConfigurationManager.AppSettings["TimeoutCountDown"]
    })
    .config(["$routeProvider", "baseUrl", function ($routeProvider, baseUrl) {
        @*Route路徑設定*@
    $routeProvider
        .when("/CustomDirectiveDemo", {
        templateUrl : baseUrl+"Test/CustomDirectiveDemo"})
        .when("/FormValidation", {
        templateUrl : baseUrl+"Test/FormValidation"});

    }])
    .factory("formater", function () {
        return {
            formatString: function (source) {
                return function (params) {
                    var result = source;
                    angular.forEach(params, function (param, i) {
                        result = result.replace(new RegExp("\\{" + i + "\\}", "g"), param);
                    });
                    return result;
                };
            }
        }
    })
    .factory("message", ["formater", function (formater) {
        return {
            defaults: {
                deleteConfirm: "將刪除該筆資料<br/>是否確認繼續處理?",
                noitem: "查無資料",
                loadingMsg: "處理中，請稍候...",
                dataLocked: formater.formatString("資料已鎖定。<br />使用者: <span class='text-info'>{0}</span> 修改中，請稍後再試。")
            },
            validate: {
                required: "請輸入資料",
                email: "Email格式錯誤",
                url: "網址格式錯誤",
                date: "日期格式錯誤",
                time: "時間格式錯誤",
                dataLessThan: "結束日不可小於起始日",
                ipv4: "IP格式錯誤",
                integer: "整數格式錯誤",
                number: "數值格式錯誤",
                digit: "只允許為數字",
                equalTo: "資料不相同",
                alphaNumeric: "只允許為英文或數字",
                lessThan: formater.formatString("結束{0}不可小於起始{0}"),
                float: formater.formatString("數值格式錯誤{0}"),
                maxlength: formater.formatString("資料長度不可超過{0}字元"),
                minlength: formater.formatString("資料長度至少{0}字元以上"),
                rangelength: formater.formatString("資料長度需介於 {0} 至 {1} 字元"),
                range: formater.formatString("數值需介於 {0} 至 {1} 之間"),
                max: formater.formatString("數值不得超過 {0}"),
                min: formater.formatString("數值不得小於 {0}"),
                dateRange: formater.formatString("日期超過允許範圍({0}~{1})"),
                TaxKindNotFound: "查無此格式代碼",
                fixlength: formater.formatString("資料長度必須為{0}字元"),
            },
            getValidateMsg: function (field, element) {
                var self = this;
                var msg = [];
                var form,
                    inputField;


                var getParams = function () {
                    var error = field.$error;
                    var params = [];

                    form = findForm(element);
                    inputField = findChildByName(form, field.$name);

                    if (error.maxlength) { params = getMaxLengthParams(); }
                    if (error.minlength) { params = getMinLengthParams(); }
                    if (error.rangelength) { params = getRangeLengthParams(); }
                    if (error.range) { params = getRangeParams(); }
                    if (error.max) { params = getMaxParams(); }
                    if (error.min) { params = getMinParams(); }
                    if (error.float) { params = getFloatParams(); }
                    if (error.dateRange) { params = getDateRangeParams(); }
                    if (error.fixlength) { params = getFixLengthParams(); }
                    if (error.lessThan) { params = getLessThenParams(); }

                    return params;
                }

                var getMaxLengthParams = function () {
                    return [].push(inputField.attr("maxlength"));
                }

                var getMinLengthParams = function () {
                    var params = [];
                    params.push(inputField.attr("minlength"));
                    return params;
                }

                var getRangeLengthParams = function () {
                    return inputField.attr("rangelength").split(",");
                }

                var getRangeParams = function () {
                    return [];
                }

                var getMaxParams = function () {
                    return [];
                }

                var getMinParams = function () {
                    return [];
                }

                var getFloatParams = function() {
                    var params = [];
                    if (isNaN(inputField.attr("float"))) {
                        params.push("");
                    } else {
                        var errorMessage = "，最多為";

                        if (inputField.attr("float-length")) {
                            errorMessage += parseInt(inputField.attr("float-length")) - parseInt(inputField.attr("float")) + "位整數";
                        }
                        
                        errorMessage += inputField.attr("float") + "位小數";
                        params.push(errorMessage);
                    }
                    return params;
                }

                var getDateRangeParams = function() {
                    var params = [];
                    var minDate = inputField.attr("min-date") || "";
                    var maxDate = inputField.attr("max-date") || "";

                    params.push(minDate);
                    params.push(maxDate);

                    return params;
                }

                var getFixLengthParams = function () {
                    var params = [];
                    params.push(inputField.attr("fixlength"));
                    return params;
                }

                var getLessThenParams = function(){
                    var params = [];
                    var name = inputField.attr("value-text") || "值";
                    params.push(name);
                    return params;
                }

                var findForm = function (element) {
                    return element.parents("form:first");
                }

                var findChildByName = function (element, name) {
                    return element.find("[name='" + name + "']");
                }

                var getErrMsg = function () {
                    var errMsg = "";

                    if ($.isFunction(self.validate[prop])) {
                        var args = [];

                        args.push(getParams());
                        errMsg = self.validate[prop].apply(self, args);
                    } else {
                        errMsg = self.validate[prop];
                    }

                    return errMsg;
                }


                if (field.$error.required) {
                    msg.push(self.validate.required);
                } else {
                    for (var prop in field.$error) {
                        if (prop != "required") {
                            msg.push(getErrMsg());
                        }
                    };
                }

                return msg;
            },
            getTextLength: function (textLength) {
                return "已輸入(" + textLength + ")個字";
            }
        };
    }]);
@*</script>*@