@{
    ViewBag.Title = "首頁";
}

<h1>Practice</h1>

<table>
    <tr>
        <td style="vertical-align:top;">
            <h2>軟體需求</h2>
            <ol>
                <li>Visual Studio 2013 (或是使用Visual Studio 2012)</li>
                <li>jQuery 1.11.3</li>
                <li>jQuery UI 1.11.4 </li>
                <li>AngularJS 1.4.* (stable版本)</li>
                <li>Entity Framework 6</li>
            </ol>

            <h2>練習要求</h2>
            <ol>
                <li>使用 ASP.NET MVC 4 專案，只使用 Controller，不使用 WebAPI</li>
                <li>Client 端主要使用 AngularJS，搭配 jQuery UI 顯示小月曆與對話框等</li>
                <li>資料庫存取採用 Entity Framework 6</li>
            </ol>

            <h2>專案說明</h2>
            <ol>
                <li>為 ASP.NET MVC 4 專案</li>
                <li>主版頁面 _Layout.cshtml 已引用 jQuery、jQuery UI、AngularJS 的 .js 程式</li>
                <li>主版頁面 _Layout.cshtml 已引用 jQuery UI 所需的 CSS樣式</li>
                <li>Entity Framework 已改為引用 Entity Framework 6</li>
                <li>已於 App_Data目錄 增加本地端資料庫 TestDB.mdf</li>
                <li>已將練習使用的 供應商主檔、供應商子廠明細 建入 TestDB.mdf 資料庫</li>
                <li>已於 Models目錄 建立 TestDB.mdf 資料庫的 Data Model</li>
            </ol>
        </td>
        <td style="vertical-align:top;padding-left:50px;">
            <h2>練習題目</h2>
            <ol>
                <li>@Html.ActionLink("AngularJS 資料繫結練習", "Practice1", "Practice")</li>
                <li>@Html.ActionLink("AngularJS Template Directive 練習", "Practice2", "Practice")</li>
                <li>@Html.ActionLink("AngularJS Filter 練習", "Practice3", "Practice")</li>
                <li>@Html.ActionLink("AngularJS Ajax Request 練習", "Practice4", "Practice")</li>
            </ol>

            <h2>AngularJS使用範例</h2>
            <ol>
                <li>@Html.ActionLink("設定 AngularJS 應用程式的範圍", "Demo1", "Demo")</li>
                <li>@Html.ActionLink("使用 Module 定義 Controller", "Demo2", "Demo")</li>
                <li>@Html.ActionLink("使用資料繫結的 Directives", "Demo3", "Demo")</li>
                <li>@Html.ActionLink("使用 Template Directives", "Demo4", "Demo")</li>
                <li>@Html.ActionLink("使用 Filter", "Demo5", "Demo")</li>
                <li>@Html.ActionLink("使用 Ajax", "Demo6", "Demo")</li>
            </ol>
        </td>
    </tr>
</table>

